
<div class="card scrugile-card">

  <div class="background-image">
    <div class="mt-5 mx-5 mb-4">
      <i class="fa fa-cube fa-3x scrugile-text-color-secondary"></i>
      <span class="scrugile-text-title-small scrugile-text-color-secondary">Projekto aprašas</span>
      <div class="scrugile-text-color-secondary"> Cia yra projekto aprasas </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">

      <div class="col mx-3 card m-0 main-card">
        <div class="card-body py-1 px-3">

          <div class="row">
            <div class="col">
              <div class="scrugile-text-title-small mt-0">
                {{ project.name }}
              </div>
              <div class="scrugile-text-bold">
                Sukurta: {{ createdDate | date:'yyyy-MM-dd' }}
              </div>
              <div class="scrugile-text-bold">
                Produkto savininkas: {{ project.creator.name }} {{ project.creator.lastName }}
              </div>
            </div>

            <div class="col-sm-3 mt-2">
              <button type="button" class="btn btn-block btn-sm px-0 scrugile-text-color-main scrugile-color-secondary">Darbų sarašas</button>
              <button type="button" class="btn btn-block btn-sm px-0 scrugile-text-color-main scrugile-color-secondary"
                (click)="onNavigateToSprints(project.id)">
                Sprintai
              </button>
            </div>
          </div>
          <hr>
          <div class="mt-4">
            {{ project.description }}
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="row">

          <div class="col mr-3 card m-0 main-card">
            <div class="card-body py-1 px-3">

              <div class="row">
                <div class="col mt-1 px-0">
                  <div class="scrugile-text-heading mt-0">
                    Komandos nariai
                  </div>
                </div>

                <div class="col-sm-4 mt-1">
                  <button type="button" (click)="addUserModal.show()" class="btn btn-block btn-sm px-0 scrugile-text-color-main scrugile-color-secondary">Pridėti</button>
                </div>
              </div>
              <div class="mt-4 scrollable-user-box">
                <table class="table table-striped">
                  <tbody>
                    <tr *ngFor="let user of project.users">
                      <td class="p-1 table-text-align-center">
                        {{ user.name }} {{ user.lastName }}
                      </td>
                      <td class="p-1 table-text-align-center scrugile-text-color-attention">
                        <a class="fa fa-minus-circle fa-2x" (click)="onRemoveUser(user._id)"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

      </div>

    </div>
  </div>

</div>


<!-- ----------------------- Add User Modal ---------------------- -->

<div mdbModal
  #addUserModal="mdb-modal"
  [config]="{ backdrop: 'static' }"
  class="modal fade"
  id="add-user-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">

      <div class="modal-header scrugile-color-main scrugile-text-color-secondary">
        <h4 class="title">Pridėti komandos narį</h4>
      </div>

      <div class="modal-body form-colors">

        <mat-form-field id="users-autocomplete" class="form-control">
          <input matInput
            id="users"
            placeholder="Komandos nariai"
            aria-label="State"
            [matAutocomplete]="auto"
            [formControl]="userSearchInput"
            (input)="onSearchUsers(userSearchInput.value)"
            >
          <mat-icon matSuffix
            (click)="addUser(userSearchInput.value)"
            class="fa fa-plus-circle fa-2x scrugile-text-color-success"></mat-icon>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user.email">
              <span>{{ user.email }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="md-form form-sm scrollable">
          <mat-chip-list #chipList class="mat-chip-list-stacked d-flex justify-content-center">
            <mat-chip *ngFor="let user of usersEmails | async">
              <span class="max-text-width">{{user}}</span>
              <mat-icon matChipRemove (click)="revertAddUser(user)" class="fa fa-times"></mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

        <div class="text-center pt-4">
          <button type="button"
            (click)="addUserModal.hide(); onAddUsersToProject(); clearAddUserModal()"
            class="btn scrugile-color-secondary scrugile-text-color-main mb-2 waves-light"
            mdbRippleRadius>
            Patvirtinti
          </button>
          <button type="button"
            (click)="addUserModal.hide(); clearAddUserModal()"
            class="btn scrugile-color-attention scrugile-text-color-main mb-2 waves-light"
            mdbRippleRadius>
            Atšaukti
          </button>
        </div>

      </div>

    </div>

  </div>

</div>