
<div class="card scrugile-card">

  <div class="background-image">
    <div class="mt-5 mx-5 mb-4">
      <i class="fa fa-cube fa-3x scrugile-text-color-secondary"></i>
      <span class="scrugile-text-title-small scrugile-text-color-secondary">Projekto aprašas</span>
      <div class="scrugile-text-color-secondary"> Cia yra projekto aprasas </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">

      <div class="col mx-3 card m-0 main-card">
        <div class="card-body py-1 px-3">

          <div class="row">
            <div class="col">
              <div class="scrugile-text-title-small mt-0">
                Projektas 1
              </div>
              <div class="scrugile-text-bold">
                Sukurta: 01-01-0001
              </div>
              <div class="scrugile-text-bold">
                Produkto savininkas: Jonas Jonaitis
              </div>
            </div>

            <div class="col-sm-3 mt-2">
              <button type="button" class="btn btn-block btn-sm px-0 scrugile-text-color-main scrugile-color-secondary">Darbų sarašas</button>
              <button type="button" class="btn btn-block btn-sm px-0 scrugile-text-color-main scrugile-color-secondary">Sprintai</button>
            </div>
          </div>
          <hr>
          <div class="mt-4">
            Cia yra t ikrasis projekto aprasymas
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="row">

          <div class="col mr-3 card m-0 main-card">
            <div class="card-body py-1 px-3">

              <div class="row">
                <div class="col mt-1 px-0">
                  <div class="scrugile-text-heading mt-0">
                    Komandos nariai
                  </div>
                </div>

                <div class="col-sm-4 mt-1">
                  <button type="button" class="btn btn-block btn-sm px-0 scrugile-text-color-main scrugile-color-secondary">Pridėti</button>
                </div>
              </div>
              <div class="mt-4 scrollable">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td class="p-1 table-text-align-center">Jonas jonaitis</td>
                      <td class="p-1 table-text-align-center scrugile-text-color-attention">
                        <a class="fa fa-minus-circle fa-2x"></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-1 table-text-align-center">Jonas jonaitis</td>
                      <td class="p-1 table-text-align-center scrugile-text-color-attention">
                        <a class="fa fa-minus-circle fa-2x"></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-1 table-text-align-center">Jonas jonaitis</td>
                      <td class="p-1 table-text-align-center scrugile-text-color-attention">
                        <a class="fa fa-minus-circle fa-2x"></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-1 table-text-align-center">Jonas jonaitis</td>
                      <td class="p-1 table-text-align-center scrugile-text-color-attention">
                        <a class="fa fa-minus-circle fa-2x"></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-1 table-text-align-center">Jonas jonaitis</td>
                      <td class="p-1 table-text-align-center scrugile-text-color-attention">
                        <a class="fa fa-minus-circle fa-2x"></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-1 table-text-align-center">Jonas jonaitis</td>
                      <td class="p-1 table-text-align-center scrugile-text-color-attention">
                        <a class="fa fa-minus-circle fa-2x"></a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

      </div>

    </div>
  </div>

</div>
