.background-image {
  background-image: url("../../../assets/project-summary-subheader.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.scrugile-card {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.main-card {
  border-top: 3px solid #374785;
  min-height: 250px;
}

.scrollable-user-box {
  overflow-y: auto;
  max-height: 150px;
}

.table-text-align-end {
  text-align: end;
}

.table-text-align-center {
  text-align: center;
  vertical-align: middle;
}

#users-autocomplete {
  border: none;
}

mat-chip{
  max-width: 250px;
  text-align: center;
}

.max-text-width {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  display: inline-block;
}

.scrollable {
  overflow-y: auto;
  max-height: 100px;
}

::ng-deep .cdk-overlay-container{
  z-index: 10001 !important;
}