<mdb-navbar SideClass="navbar navbar-expand-lg scrugile-color-main">

  <logo>
    <a class="navbar-brand scrugile-text-color-success scrugile-text-title-small no-padding" href="#">
      <img src="../../../assets/LOGO-small.png" height="45" width="45"> Scrugile
    </a>
  </logo>

  <links *ngIf="true">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active scrugile-text-color-secondary px-2">
        <a class="nav-link waves-light" mdbRippleRadius>
          Darbų sąrašas
        </a>
      </li>
      <li class="nav-item scrugile-text-color-secondary px-2">
        <a class="nav-link waves-light" mdbRippleRadius>
          Sprintai
        </a>
      </li>
      <li class="nav-item scrugile-text-color-secondary px-2">
        <a class="nav-link waves-light" mdbRippleRadius>
          Scrum lentelė
        </a>
      </li>
      <li class="nav-item scrugile-text-color-secondary px-2">
        <a class="nav-link waves-light" mdbRippleRadius>
          Mano užduotys
        </a>
      </li>
      <li class="nav-item scrugile-text-color-success px-2 py-1">
        <a class="fa fa-plus-circle fa-2x"></a>
      </li>
      <li class="nav-item scrugile-text-color-secondary px-2 py-1">
        <a class="fa fa-user-circle-o fa-2x"></a>
      </li>
    </ul>
  </links>

</mdb-navbar>