<!--The content below is only a placeholder and can be replaced.-->

<app-header
  [isLoggedIn]="isUnderProject"
  [isProjectSelected]="isUnderProject"
></app-header>

<router-outlet></router-outlet>

<div *ngIf="false">

  <h1> Heading </h1>
  <h2> Heading 2 </h2>
  <h3> Heading 3 </h3>
  <h4> Heading 4 </h4>

  <div class="scrugile-text-title"> Title </div>
  <div class="scrugile-text-title-small"> Small Title </div>

  <div class="scrugile-text-heading"> This is heading div </div>
  <div class="scrugile-text-heading-small"> This is small heading div </div>

  <div> This is div </div>
  <p> This is p </p>

  <p class="scrugile-text-color-secondary scrugile-color-main"> This is secondary text color p </p>
  <p class="scrugile-text-color-light"> This is light color p </p>
  <p class="scrugile-text-bold"> This is bold p </p>
  <p class="scrugile-text-light"> This is light p </p>
  <p class="scrugile-text-color-attention"> This is attention color </p>
  <p class="scrugile-text-color-success"> This is success color </p>

  <p class="scrugile-color-main"> This is Paragraph </p>
  <p class="scrugile-color-main-alt"> This is Paragraph </p>
  <p class="scrugile-color-secondary"> This is Paragraph </p>
  <p class="scrugile-color-secondary-alt"> This is Paragraph </p>
  <p class="scrugile-color-attention"> This is Paragraph </p>
  <p class="scrugile-color-background"> This is Paragraph </p>
  <p class="scrugile-color-background-white"> This is Paragraph </p>
  <p class="scrugile-color-data-purple"> This is Paragraph </p>
  <p class="scrugile-color-data-purple-light"> This is Paragraph </p>
  <p class="scrugile-color-data-orange"> This is Paragraph </p>
  <p class="scrugile-color-data-orange-light"> This is Paragraph </p>
  <p class="scrugile-color-data-green"> This is Paragraph </p>
  <p class="scrugile-color-data-green-light"> This is Paragraph </p>
  <p class="scrugile-color-data-blue"> This is Paragraph </p>
  <p class="scrugile-color-data-blue-light"> This is Paragraph </p>

</div>