<div class="card scrugile-card">

  <div class="background-image">
    <div class="row align-items-end">
      <div class="col mt-5 mx-5 mb-4">
        <i class="fa fa-cube fa-3x scrugile-text-color-secondary"></i>
        <span class="scrugile-text-title-small scrugile-text-color-secondary">PROJEKTO SPRITNAI</span>
        <div class="scrugile-text-color-secondary"> Cia yra projekto aprasas </div>
      </div>
      <div class="col-2 mr-3">
        <button class="btn scrugile-color-secondary scrugile-text-color-main waves-light mb-3 px-0 btn-block" mdbRippleRadius
        (click)="addSprintsFormModal.show()">
          Pridėti sprintų
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div *ngIf="sprints">

      <div *ngFor="let sprint of sprints, let i = index">

        <div class="row align-items-start">
          <div class="col">

            <div class="card mt-4 mx-2 main-card main-card">
              <div class="card-body pb-1">
                <div class="row">
                  <div class="col-3 ml-3">
                    <div class="scrugile-text-heading">
                      Sprintas {{sprint.indicator + 1}}
                      <p class="pt-2">Pasakojimų kiekis:</p>
                    </div>
                  </div>

                  <div class="col">
                    <app-chart-component
                    [data]="formatChartData(sprint.chartData)"
                    [sprintIndex]="i"
                    [visualData]="visualData"
                    ></app-chart-component>
                  </div>

                  <div class="col-4 mr-2">
                    <div class="scrugile-text-heading text-right"> 
                      {{formatTime(sprint.time.days , sprint.period)}}
                    </div>
                    <div class="scrugile-text-heading-small text-right"> 
                      {{displayTimeLabel(sprint.time.days)}} 
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row align-middle">
                  <div class="col-3 ml-3 pt-2">
                    <p>Sprinto statusas: 
                      <span class="scrugile-text-bold">{{sprint.state}}</span>
                    </p>
                  </div>

                  <div class="col pt-2">
                    <p>Vykdomi pasakojimai:
                      <span class="scrugile-text-bold">{{getStoriesInProgressAmount(sprint.stories)}}</span>
                    </p>
                  </div>

                  <div class="col-4 mr-2 text-right">
                    <button class="btn btn-sm scrugile-color-main scrugile-text-color-seconday waves-light mt-0 mb-3" mdbRippleRadius>
                      Daugiau informacijos
                    </button>
                    <a>
                      <i class="fa fa-2x fa-trash-o scrugile-text-color-light"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ------------------------------------------- Add Sprints Modal ------------------------------------- -->

<div mdbModal
  #addSprintsFormModal="mdb-modal"
  [config]="{ backdrop: 'static' }"
  class="modal fade"
  id="add-sprints-form-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">

      <div class="modal-header scrugile-color-main scrugile-text-color-secondary">
        <h4 class="title"> Sprintų pridėjimas </h4>
      </div>

      <form [formGroup]="addSprintsForm"
        (ngSubmit)="onAddSprints(addSprintsForm.value); addSprintsFormModal.hide(); resetAddSprintsForm()">
        <div class="modal-body mb-0 mx-4 form-colors">
          <div class="md-form form-sm">
            <input mdbActive
              type="number"
              min="1"
              id="sprint-count"
              formControlName="sprintCount"
              class="form-control">
            <label for="sprint-count">Sprintų kiekis</label>
          </div>

          <select
            id="sprint-time-select"
            formControlName="sprintTime"
            class="form-control center-text-select">
            <option value="" selected disabled>Pasirinkite sprinto laiką</option>
            <option *ngFor="let time of availableTimes" [value]="time.amount">{{ time.label }}</option>
          </select>

          <div class="text-center pt-4">
            <button type="submit"
              class="btn scrugile-color-secondary scrugile-text-color-main mb-2 waves-light"
              mdbRippleRadius>
              Patvirtinti
            </button>
            <button
              type="button"
              (click)="addSprintsFormModal.hide(); resetAddSprintsForm()"
              class="btn scrugile-color-attention scrugile-text-color-main mb-2 waves-light"
              mdbRippleRadius>
              Atšaukti
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>