<div class="row mx-0 justify-content-end scrugile-color-background">
  <div>
    <button (click)="createProjectForm.show()" type="button" class="btn btn-block mb-0 mt-4 scrugile-color-secondary waves-light scrugile-text-color-main" mdbRippleRadius>Kurti naują</button>
  </div>


  <div mdbModal #createProjectForm="mdb-modal" [config]="{ backdrop: 'static' }" class="modal fade" id="create-project-form-modal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <div class="modal-content">

        <div class="modal-header scrugile-color-main scrugile-text-color-secondary">
          <h4 class="title">Projekto kūrimas </h4>
        </div>

        <div class="modal-body mb-0 mx-4 form-colors">
          <div class="md-form form-sm">
            <input mdbActive type="text" id="project-name" class="form-control">
            <label for="project-name">Projekto pavadinimas</label>
          </div>         

          <div class="text-center pt-4">
            <button class="btn scrugile-color-secondary scrugile-text-color-main mb-2 waves-light" mdbRippleRadius>Patvirtinti</button>
            <button (click)="createProjectForm.hide()" class="btn scrugile-color-attention scrugile-text-color-main mb-2 waves-light" mdbRippleRadius>
              Atšaukti </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- ---------------------------------------------- Testimonial card ------------------------------------------ -->

  <div class="col-md-4">
    <div class="card testimonial-card">
      <div class="card-up scrugile-color-main"></div>
      <div class="avatar white">
        <img src="https://orig00.deviantart.net/066e/f/2012/058/6/d/my_little_pony___rainbow_dash_b2_by_dj_fahr-d4r504l.png" class="rounded-circle">
      </div>
      <form [formGroup]="profileForm" (ngSubmit)="onUpdateProfile(profileForm.value)" (dblclick)="toggleMode()">
        <div class="card-body">
          <h4 *ngIf="!editMode" class="card-title">{{user.name}} {{user.lastName}}</h4>
          <div *ngIf="editMode" class="name-display form-colors">
            <input id="user-name" mdbActive type="text" formControlName="name" class="form-control name-text-align pr-1 my-0" placeholder="Vardas">
            <input id="user-lastname" mdbActive type="text" formControlName="lastName" class="form-control my-0" placeholder="Pavardė">
          </div>
          <hr>

          <div class="md-form form-sm form-colors">
            <input id="user-email" mdbActive type="email" formControlName="email" class="form-control center-text" placeholder="El. paštas">
            <input id="user-birth-year" mdbActive type="text" formControlName="birthYear" class="form-control center-text" placeholder="Gimimo metai">
            <input id="user-gender" mdbActive type="text" formControlName="gender" class="form-control center-text">
            <input *ngIf="!editMode" id="user-location" mdbActive type="text" formControlName="location" class="form-control center-text"
              placeholder="Gyvenamoji vieta">
            <select *ngIf="editMode" id="user-location-select" formControlName="location" class="form-control center-text-select">
              <option value="profileForm.location" selected>{{ profileForm.location }}</option>
              <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
            </select>
            <input id="user-phone" mdbActive type="text" formControlName="phone" class="form-control center-text" placeholde="Telefono nr.">
            <input *ngIf="!editMode" id="user-occupation" mdbActive type="text" formControlName="occupation" class="form-control center-text">
            <select *ngIf="editMode" id="user-occupation-select" formControlName="occupation" class="form-control center-text-select">
              <option value="profileForm.occupation" selected>{{ profileForm.occupation }}</option>
              <option *ngFor="let occupation of occupations" [value]="occupation">{{ occupation }}</option>
            </select>
          </div>

          <a class="text-underline" (click)="passwordForm.show()"> Keisti slaptažodį </a>

          <button type="submit" class="btn btn-block mb-0 mt-4 scrugile-color-secondary waves-light scrugile-text-color-main"
            mdbRippleRadius>Išsaugoti</button>

        </div>
      </form>
    </div>
  </div>
</div>


<div mdbModal #passwordForm="mdb-modal" [config]="{ backdrop: 'static' }" class="modal fade" id="password-form-modal" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">

      <div class="modal-header scrugile-color-main scrugile-text-color-secondary">
        <h4 class="title"> Slaptažodžio keitimas </h4>
      </div>

      <div class="modal-body mb-0 mx-4 form-colors">
        <div class="md-form form-sm">
          <input mdbActive type="password" id="old-password" class="form-control">
          <label for="old-password">Senasis slaptažodis</label>
        </div>

        <div class="md-form form-sm">
          <input mdbActive type="password" id="new-password" class="form-control">
          <label for="new-password">Naujasis slaptažodis</label>
        </div>

        <div class="md-form form-sm">
          <input mdbActive type="password" id="confirm-new-password" class="form-control">
          <label for="confirm-new-password">Patvirtinkite naują slaptažodį</label>
        </div>

        <div class="text-center pt-4">
          <button class="btn scrugile-color-secondary scrugile-text-color-main mb-2 waves-light" mdbRippleRadius>Patvirtinti</button>
          <button (click)="passwordForm.hide()" class="btn scrugile-color-attention scrugile-text-color-main mb-2 waves-light" mdbRippleRadius>
            Atšaukti </button>
        </div>
      </div>

    </div>
  </div>
</div>